<h1>物件編集</h1>

<%= form_for @feed do |f| %>
  <div style="border-bottom: double 2px #999999;" align=left >
    <%= f.label :propertyname %>
    <%= f.text_field :propertyname %>

    <%= f.label :rent %>
    <%= f.number_field :rent %>円

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :age %>
    <%= f.number_field :age %>年

    <%= f.label :remarks %>
    <%= f.text_area :remarks %>
  </div>

  <%= f.submit "更新する" %>
<% end %>
<%= link_to "詳細", feed_path(@feed.id) %>
<%= link_to "戻る", root_path %>


