<% if @feed.errors.any? %>
  <div id = "error_explanation">
    <h2> <%= @feed.errors.count %> errors found! </h2>
    <ul>
      <% @feed.errors.full_messages.each do | msg | %>
        <li> <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>物件登録</h1>

<%= form_for @feed do |f| %>
  <div style="border-bottom: double 2px #999999;" align=left >
    <%= f.label :propertyname %>
    <%= f.text_field :propertyname %><br />
    <%= f.label :rent %>
    <%= f.number_field :rent %>円<br />
    <%= f.label :address %>
    <%= f.text_field :address %><br />
    <%= f.label :age %>
    <%= f.number_field :age %>年<br />
    <%= f.label :remarks %>
    <%= f.text_area :remarks %><br />
  </div>
    <%= f.fields_for :nearest_stations do | ns | %>
      <div class="field">
        <%= f.label :nearest_stations, "最寄り駅#{ns.options[:child_index]+1}" %><br />
        <%= ns.label :route_name, "路線名" %>
        <%= ns.text_field :route_name %><br /> 
        <%= ns.label :station_name, "駅名" %>
        <%= ns.text_field :station_name %><br /> 
        <%= ns.label :minute_walk, "徒歩分数" %>
        <%= ns.number_field :minute_walk %><br /> 
      </div>
    <% end %>

  <%= f.submit "登録する" %>
<% end %>

<%= link_to "戻る", feeds_path %>
