<div style="border-bottom: double 2px #999999;" align=left >
  <div>
    <strong>物件名:</strong>
    <%= @feed.propertyname %>
  </div>
  <br>
  <div>
    <strong>賃料:</strong><%= @feed.rent %>
  </div>
  <br>
  <div>
    <strong>住所:</strong><%= @feed.address %>
  </div>
  <br>
  <div>
    <strong>築年数:</strong><%= @feed.age %>
  </div>
  <br>
  <div>
    <strong>備考:</strong><%= @feed.remarks %>
  </div>
  <border>
</div>
<% @feed.nearest_stations.each_with_index do |f, index| %>
  <h4>最寄り駅<%= index + 1 %></h4>
  路線名:<%= f.route_name %><br />
  駅名:<%= f.station_name %><br />
  徒歩分数:<%= f.minute_walk %>分<br />
<% end %>

<%= link_to "編集", edit_feed_path(@feed.id) %>
<%= link_to "戻る", root_path %>