<div style="border-bottom: double 2px #999999;" align=left >
  <div>
    <strong>物件名:</strong><%= @feed.propertyname %>
  </div>
  <br>
  <div>
    <strong>賃料:</strong><%= @feed.rent %>
  </div>
  <br>
  <div>
    <strong>住所:</strong><%= @feed.address %>
  </div>
  <br>
  <div>
    <strong>築年数:</strong><%= @feed.age %>
  </div>
  <br>
  <div>
    <strong>備考:</strong><%= @feed.remarks %>
  </div>
  <border>
</div>

<%= link_to "編集", edit_feed_path(@feed.id) %>
<%= link_to "戻る", root_path %>